/* Structure */
body {
    background-color: green;
}
.box {
    background-color: rgb(209, 54, 54);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
.box img {
    width: 300px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */
#main-nav li {
    list-style-type: none;
}
#main-nav a, #main-content a {
    text-decoration: none;
    display: block;
    color: blue;
    padding: 10px;
}
/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}
#main-header h1, #main-content h2 {
    color: blue;
    text-align: center;
}
.box h3, .box p {
    text-align: center;
}

/* Flexing */
@media (min-width: 1200px){
    .flex-container {
        display: flex;
    }
    .box {
        flex:1;
    }
}
