/* Structure */
#main-header{
    background-color: green;
    padding: 10px;
}
#main-content{
    background-color: gray;
    padding: 5px;
}
#main-footer{
    background-color: blanchedalmond;
    padding: 5px;
}

.column{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.col1of3 {
    background-color: aqua;
}
.col1of3 img{
    width: 300px;
    height: 150px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

/* Navigation */

/* Typography */
body{
    font-family: Arial, Helvetica, sans-serif;
}
#main-header h1{
    text-align: center;
}
#assignSect h1, #projSect h1 {
    text-align: center;
}
#txt-items li{
    list-style-type: none;
    
}

/* Larger Resolutions */
@media (min-width: 1100px){
    .flex-container{
        display: flex;
    }

    .col1of3{
        flex: 1;
    }
}