/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 85%;
    margin: auto;
}

#main-content table{
    width: 100%;
    margin: auto;
    text-align:center;
    border-collapse: collapse;
    padding:50px;
    th{
        background-color: skyblue;
        height: 50px;
    }
    td{
        padding: 20px;
    }
    th, td{
        border: 1px solid;
    }
}

#main-content img{
    width: 80%;
    height: 150px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-header{
    background:green;
    padding:5px;
    border-radius: 5px;
    text-align: center;
}

/* Main Navigation */
#main-nav li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    padding: 5px;
    color:black;
}

/* Typography */
#main-header h1{
    text-align: center;
}

