/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 85%;
    margin: auto;
    background-color: gray;
}

#main-content img{
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#main-header{
    background:green;
    padding:5px;
    border-radius: 5px;
    text-align: center;
}

/* Main Navigation */
#main-nav li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    margin:10px;
    
}

#main-nav li :hover{
    display:block;
    background-color: aqua;
    width: auto;
    border-radius: 10px;
}

#main-nav a {
    text-decoration: none;
    padding: 5px;
    color:black;
    font-size:larger;
}

/* Typography */
#main-header h1{
    text-align: center;
}

@media (min-width: 900px){
    #main-nav ul, .flex-container{
        display:flex;
    }
    #main-nav li {
        flex: 1;
    }
}

