/* Structure */
.idea-flex {
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
}
.unidea {
    width: 50%;
}
/* Gallery */
#gallery {
    flex-wrap: wrap;
}
#gallery section {
    width: 25%;
}
#gallery img {
    padding: 5px;
}
/* Lists */
.main-nav li{
    text-align: center;
    background-color: red;
    padding: 10px;
    margin: 3px;
}
.main-nav a {
    text-decoration: none;
}
.main-nav ul {
    text-align: center;
    list-style-type: none;
}

/* Typography */
#main-header h1 {
    color: teal;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
.main-nav a {
    font-size: 20px;
    color: white;
}
/* Larger Resolutions */
@media (min-width: 1100px){
    .idea-flex, .main-nav ul {
        display:flex;
    }
    .unidea, .main-nav li {
        flex:1;
    }
    #gallery {
        display: flex;
    }
    
    
    
}
