body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    background: repeating-linear-gradient(
    to bottom,
    red 0px, /* First color, starts at 0px */
    pink 20px, /* First color, ends at 20px (stripe height) */
    pink 20px, /* Second color, starts at 20px */
    red 40px  /* Second color, ends at 40px (total pattern height) */
  );
}
#main-content img {
    width: 40%;
    height:auto;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#main-header {
    background: red;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
#main-header h1 {
    color: white;
}

/* Main Navigation */
#main-nav li {
    list-style-type: none;
    display: block;
    text-align: center;
    background-color: pink;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
#main-nav a {
    color: white;
    text-decoration: none;
}
.hidden {
    display: none;
}
#arrow {
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: black transparent transparent transparent;
}

/* Table */
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    padding: 10px;
    text-align: center;
}
th, td {
    border-top: 2px solid black;
}

@media (min-width: 1100px) {
    .flex-container, #main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #arrow {
        display: none;
    }
    
}