/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

#content {
    width: 85%;
    height: 90%;
    margin: auto;
    
}

#main-content p {
    background-color: antiquewhite;
    font-size: 20px;
}
#cart {
    height:auto;
    width: 200px;
    background-color: antiquewhite;
    margin-left: auto;
    margin-bottom: 5px;
}

#main-content img{
    width: 300px;
    height: 200px;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#main-header{
    background:green;
    padding:5px;
    border-radius: 5px;
    text-align: center;
}

/* Main Navigation */
#main-nav li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    margin:10px;
    
}
/*
#main-nav li :hover{
    display:block;
    background-color: aqua;
    width: auto;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
*/
#main-nav a {
    text-decoration: none;
    padding: 5px;
    color:black;
    font-size:larger;
}

/* Dropdown */
#arrow {
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: black transparent transparent transparent;
}
#arrow2 {
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: red transparent transparent transparent;
    margin-left: 95%;
}
.hidden {
    display: none;
}
.hidden-cart {
    display: none;
}

/* Typography */
#main-header h1{
    text-align: center;
}
#main-nav a:hover {
    border-bottom: 2px solid black;
}

/* Activates when width > 900 */
@media (min-width: 900px){
    #main-nav ul, .flex-container{
        display:flex;
    }
    #main-nav li, #cart p {
        flex: 1;
    }
    #main-nav a{
        border-bottom: 2px solid transparent;
    }
    #arrow {
        display: none;
    }
    
    
}

