/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
#content {
    width: 85%;
    margin: auto;
}
#main-header h1 {
    text-align: center;
    color: green;
}
#main-header h3 {
    text-align: center;
    color: gray;
}
#main-footer {
    text-align: center;
}
.column {
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
.col1of5 {
    background-color: orangered;
}
.col1of5 img {
    width: 200px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
}

/* Typography */
.col1of5 a {
    text-decoration: none;
    color: black;
}

/* Popup Window */
.pop {
    background-color: orange;
    margin: 10px;
}
.pop h3 {
    margin: 10px;
    background-color: red;
}
.pop li {
    list-style-type: none;
    margin: 20px;
    font-size: 16px;
}
.pop img {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: block;
    margin-left: auto;
    padding: 10px;
    animation-name: spin;
    animation-duration: 1s;
}
/* Spin Animation */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/* Larger Resolutions */
@media (min-width: 1200px){
    .flex-container{
        display: flex;
    }
    .col1of5{
        flex: 1;
    }
}
