body {
    font-family: Arial, Helvetica, sans-serif;
}
#main-content img {
    width: 80%;
    height:auto;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#main-header {
    background: aqua;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Main Navigation */
#main-nav li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
#main-nav a {
    color: white;
    border-bottom: 2px solid black;
}

/* Table */
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    padding: 10px;
    text-align: center;
}

@media (min-width: 900px) {
    .flex-container, #main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}