/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

#content {
    width: 85%;
    margin: auto;
}
#main-header h1{
    text-align: center;
}
#sub-header{
    font-size: 25px;
    text-align: center;
}
#main-footer {
    text-align: center;
}


#traveling h3, #picture-choose h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#traveling p {
    text-align: center;
}
#text-loc input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#bike-pic img, #scooter-pic img, #car-pic img, #skateboard-pic img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    
}



#heart { 
    position: relative; 
    margin: 10px;
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: var(--before-bg-color, white); 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

.flex-container {
    background-color: gray;
    width:  400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */
#main-nav li {
    list-style-type: none;
    padding: 10px;
    border-right: solid 5px;
    border-left: solid 5px;
    text-align: center;
    /*background-color: green;*/
}
#main-nav a {
    text-decoration: none;
    color: red;
}


/* Dropdown Menu */
#nav-toggle div {
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: black transparent transparent transparent;
}

#arrow-button {
    background-color: antiquewhite;
    border-color: antiquewhite;
}


/* Typography */
/*
#main-nav ul {
    display: none;
}
*/

.hidden {
    display: none;
}
.hidden-travel{
    display: none;
}
.hidden-picture-choose{
    display: none;
}


/* Activates when width > 900 */
@media (min-width: 900px){
    #main-nav ul, .flex-container, #main-nav-items {
        display:flex;
    }
    #main-nav li {
        flex: 1;
    }
    #nav-toggle div, #arrow-button {
        display: none;
    }
    
}
/* Activates when width < 900 */
@media (max-width: 900px){
    
    
}
